
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/LobbyServer.AssemblyInfo.cs
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/LobbyServer.csproj.CopyComplete
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/LobbyServer.csproj.FileListAbsolute.txt
TestServer/LobbyServer/obj/LobbyServer.csproj.nuget.g.props
TestServer/LobbyServer/obj/LobbyServer.csproj.nuget.g.targets
TestServer/NetLibrary/obj/Debug/NetLibrary.csproj.FileListAbsolute.txt
TestServer/TestClient/bin/Debug/TestClient.exe.config
TestServer/TestClient/obj/Debug/App.g.cs
TestServer/TestClient/obj/Debug/App.g.i.cs
TestServer/TestClient/obj/Debug/MainWindow.baml
TestServer/TestClient/obj/Debug/MainWindow.g.cs
TestServer/TestClient/obj/Debug/MainWindow.g.i.cs
TestServer/TestClient/obj/Debug/TestClient.csproj.CopyComplete
TestServer/TestClient/obj/Debug/TestClient.csproj.FileListAbsolute.txt
TestServer/TestClient/obj/Debug/TestClient.g.resources
TestServer/TestClient/obj/Debug/TestClient.Properties.Resources.resources
TestServer/TestClient/obj/Debug/TestClient_MarkupCompile.lref
