
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/LobbyServer.AssemblyInfo.cs
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/LobbyServer.csproj.CopyComplete
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/LobbyServer.csproj.FileListAbsolute.txt
TestServer/LobbyServer/obj/LobbyServer.csproj.nuget.g.props
TestServer/LobbyServer/obj/LobbyServer.csproj.nuget.g.targets
TestServer/NetLibrary/obj/Debug/NetLibrary.csproj.FileListAbsolute.txt
TestServer/TestClient/bin/Debug/TestClient.exe.config
TestServer/TestClient/obj/Debug/App.g.cs
TestServer/TestClient/obj/Debug/App.g.i.cs
TestServer/TestClient/obj/Debug/MainWindow.baml
TestServer/TestClient/obj/Debug/MainWindow.g.cs
TestServer/TestClient/obj/Debug/MainWindow.g.i.cs
TestServer/TestClient/obj/Debug/TestClient.csproj.CopyComplete
TestServer/TestClient/obj/Debug/TestClient.csproj.FileListAbsolute.txt
TestServer/TestClient/obj/Debug/TestClient.g.resources
TestServer/TestClient/obj/Debug/TestClient.Properties.Resources.resources
TestServer/TestClient/obj/Debug/TestClient_MarkupCompile.lref

TestServer/DBLibraryTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestServer/LobbyServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestServer/NetLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestServer/NetLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestServer/NetLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestServer/DBLibraryTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestServer/TestClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestServer/TestClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestServer/TestClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestServer/TestHttpNet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestServer/TestHttpNet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestServer/TestHttpNet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestServer/TestHttpNet/Properties/AssemblyInfo.cs
TestServer/TestMatchingLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestServer/TestMatchingLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestServer/TestMatchingLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestServer/TestObjectPool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestServer/TestObjectPool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestServer/TestObjectPool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
